[Desktop Entry]
Version=1.0
Name=Concordia 
Comment=Concordia P2P Cryptocurrency
Comment[fr]=Concordia, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Concordia, eşten eşe kriptografik sanal para birimi
Exec=concordia-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/concordia;
Categories=Office;Finance;
StartupWMClass=concordia-qt
