[Desktop Entry]
Version=1.0
Name=Concordia
Comment= CNCD P2P Cryptocurrency
Comment[fr]= CNCD, monnaie virtuelle cryptographique pair à pair
Comment[tr]= CNCD, eşten eşe kriptografik sanal para birimi
Exec=concordia-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=Concordia-qt
